.banner {
  position: relative;
  background: url('./../../../../public/img/app-para-lista-de-tareas.jpg') center/cover no-repeat;
  border-radius: 15px;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.banner-content {
  position: relative;
  z-index: 2;
}
